<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Only Paws | Jugueteria</title>
</head>
<body class="bg-gray-200">
  <div id="app" class="flex flex-col h-screen w-full">
    <header class="bg-azulOscuro none flex flex-col items-center pb-3">
      <picture class="w-28 flex flex-col mb-3">
        <img class="w-full" src="../home/Images/Paw.png" alt="Only Paws logo">
        <img class="w-32 absolute left-[50%] translate-x-[-50%] top-24 items-center " src="../home/Images/OnlyPaws.png" alt="Only Paws text">
      </picture>
      <picture>
        <a href="../carrito-compras/cart.html"><img src="../home/Images/Cart.png" alt="" class="absolute top-[8%] left-[80%] z-index-50 w-14 md:top-[3%] md:left-[65%]"></a>
      </picture>
      <nav class="md:w-full">
        <ul class="flex flex-col md:flex-row text-blanco gap-3 items-center md:justify-evenly">
          <li><a href="../../index.html">INICIO</a></li>
          <li><a href="../jugueteria/jugueteria.html">JUGUETERIA</a></li>
          <li><a class="bg-azulClaro px-6 font-bold rounded-full md:p-2" href="#">FARMACIA</a></li>
          <li><a href="../contacto/contacto.html">CONTACTO</a></li>
        </ul>
      </nav>
    </header>
    <main class="flex flex-col flex-wrap grow justify-center items-center">
      <div class="flex flex-col justify-center items-center rounded-full mt-4 gap-4 md:flex-row md:justify-between md:w-3/4">
        <select v-model="filtroPrecio" v-on:change="filtrarPorPrecio" name="" id="" class="text-center rounded-full border-2 border-verdeClaro bg-azulOscuro text-blanco">
            <option value="none" selected>Filtrar precio</option>
            <option value="mayor">Precio Ascendente</option>
            <option value="menor">Precio Descendente</option>
        </select>
        <input type="text"
          class="border m-2 rounded-full px-2 text-center border-2 border-verdeClaro bg-azulOscuro text-blanco md:w-2/3"
          placeholder="Ingrese su busqueda" v-model="filtroNombre" @input="filtrarPorPrecio">
      </div>
      <div class="flex flex-wrap">
        <template v-if="sort.length > 0" v-for="articulo in sort">
          <article
            class="m-4 flex flex-col gap-2 border-4 border-azulOscuro rounded-lg bg-blanco grow w-[250px] h-[350px] justify-between">
            <picture class=" flex justify-center items-center mt-2 mx-2">
              <img class="w-[150px] h-[150px] object-cover" v-bind:src="articulo.imagen" v-bind:alt="articulo.producto">
            </picture>
            <div class="flex flex-col justify-center items-center">
              <h3 class="font-bold text-lg">{{articulo.producto}}</h3>
              <strong v-if="articulo.disponibles >= 1">{{articulo.precio}}</strong>
              <div>
                <small v-if="articulo.disponibles == 0" class="text-red-900 font-bold text-xl">FUERA DE STOCK</small>
                <small v-else-if="articulo.disponibles <= 5" class="text-orange-700 font-semibold">¡ULTIMOS
                  {{articulo.disponibles}} ARTICULOS!</small>
                <small v-else class="text-gray-500">En stock: {{articulo.disponibles}}</small>
              </div>
            </div>
            <div class="flex gap-4 justify-evenly">
              <button class="bg-azulClaro text-blanco py-1 px-2 self-center mb-2 font-semibold lg:text-xs" type="button" v-on:click="showModal(articulo)">DETALLES</button>
              <button v-if="articulo.disponibles >= 1" class="bg-verdeClaro text-black py-1 px-2 self-center mb-2 font-semibold lg:text-xs" type="button" @click="agregarAlCarro(articulo)">AÑADIR AL CARRITO</button>
            </div>
          </article>
        </template>
        <template v-else>
          <p>NO HAY RESULTADOS</p>
        </template>
      </div>
    </main>
    <footer class="bg-azulOscuro flex justify-between font-bold text-xl p-2 text-blanco">
      <h2>Cohort N°52</h2>
      <h2>Digital Dynamos</h2>
    </footer>
    <div v-if="modalVisible" class="bg-gray-400/60 h-screen w-screen fixed top-0 flex justify-center items-center overflow-hidden">
      <section class="h-[80%] w-[80%] bg-white text-black flex flex-col p-2">
        <button class="bg-red-500 p-2 absolute top-18 right-1" @click="closeModal">X</button>
        <div class="flex flex-col justify-center items-center">
        <h3>{{articulo.producto}}</h3>
        <picture class="flex justify-center items-center">
          <img class="w-[50%]" :src="articulo.imagen" :alt="articulo.producto">
        </picture>
        <div class="max-h-full">
        <p><small>{{articulo.descripcion}}</small></p>
        <p>Stock: {{articulo.disponibles}}</p>
        </div>
        <button>COMPRAR</button>
        </div>
      </section>
    </div>
  </div>
  <script src="../home/tailwind.config.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/farmacia.js"></script>
</body>
</html>