<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body class="bg-gray-200">
  <div id="app" class="flex flex-col h-screen w-full">
    <header class="bg-azulOscuro none flex flex-col items-center pb-3">
      <picture class="w-28 flex flex-col mb-3">
        <img class="w-full" src="../home/Images/Paw.png" alt="Only Paws logo">
        <img class="w-32 absolute left-[50%] translate-x-[-50%] top-24 items-center " src="../home/Images/OnlyPaws.png" alt="Only Paws text">
      </picture>
      <nav class="md:w-full">
        <ul class="flex flex-col md:flex-row text-blanco gap-3 items-center md:justify-evenly">
          <li><a href="../../index.html">INICIO</a></li>
          <li><a href="../jugueteria/jugueteria.html">JUGUETERIA</a></li>
          <li><a href="../farmacia/farmacia.html">FARMACIA</a></li>
          <li><a href="../contacto/contacto.html">CONTACTO</a></li>
        </ul>
      </nav>
    </header>
    <main class="flex flex-col flex-wrap grow justify-center items-center">
      <template v-if="localStorageFiltrado.length >0" v-for="articulo in localStorageFiltrado">
        <div class="flex gap-2 border-2 border-2 border-gray-400 rounded-xl flex-col m-2">
          <div class="w-full bg-azulOscuro rounded-full py-2">
          </div>
          <div class="w-full py-2">
            <article class="flex justify-center items-center flex-col m-2 gap-2">
              <picture class="w-1/4">
                <img :src="articulo.imagen" :alt="articulo.titulo">
              </picture>
              <h3 class="text-center font-bold">{{articulo.producto}}</h3>
              <div class="flex border-2 border-gray-400 justify-center">
                <div class="border border-gray-400 px-3 w-1/6 flex p-1">
                  <button><img class="self-center" src="../home/Images/minus.png" alt="minus_article"></button>
                </div>
                <div class="border border-gray-400 px-3 w-4/6 p-1">
                  <p>{{1}}</p>
                </div>
                <div class="border border-gray-400 px-3 w-1/6 flex p-1">
                  <button type="button"><img class="self-center" src="../home/Images/plus.png" alt="sumar_article"></button>
                </div>
              </div>
              <strong>{{precioTotal}}</strong>
            </article>
          </div>
        </div>
      </template>
    </main>
    <footer class="bg-azulOscuro flex justify-between font-bold text-xl p-2 text-blanco">
      <h2>Cohort N°52</h2>
      <h2>Digital Dynamos</h2>
    </footer>
  </div>
  <script src="./js/tailwind.config.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/cart.js"></script>
</body>
</html>